<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name ="MyTraceSource" switchName ="MySourceSwitch" switchType ="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name ="xmlListener" type ="System.Diagnostics.XmlWriterTraceListener"
               traceOutputOptions ="None" initializeData ="demotrace.xml">
          </add>
          <add name ="delimitedListener"  type ="System.Diagnostics.DelimitedListTraceListener" delimiter=":"
               traceOutputOptions =" DateTime,ProcessId"  initializeData ="demotrace.txt">
          </add>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name ="MySourceSwitch" value ="Error"/>
    </switches>
    
  </system.diagnostics>
</configuration>